@import "../../../../styles/abstracts/variables.scss";

.Toolbar {
  background-color: $color-primary;
  position: relative;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.9);
  z-index: 2;

  &__Inner {
    height: 16.5rem;
    display: flex;
    align-items: center;

    &__Brand {
      height: 80%;
      display: flex;
      align-items: center;

      &__Logo {
        height: 100%;
        width: 12rem;
        position: relative;
      }
    }
  }
}
