@import "../../../../styles/abstracts/variables.scss";

.Toolbar {
  background-color: $color-primary;
  position: absolute;
  width: 100%;
  // -webkit-appearance: none;
  // -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(0);
  z-index: 2;

  // a {
  &__Inner {
    // height: 16.5rem;
    display: flex;
    // align-items: center;
    justify-content: space-between;

    &__Brand {
      margin: 1.65rem 0;
      height: 13.2rem;
      display: flex;
      align-items: center;
      // background-color: orangered;

      &__Logo {
        height: 100%;
        width: 12rem;
        a {
          display: block;
          position: relative;
          height: 100%;
          width: 100%;
        }
      }

      a {
        border-bottom: none;
      }
    }
  }
}
