@import "../../../../styles/abstracts/variables.scss";

.Nav {
  width: 100%;
  font-size: 1.92rem;
  display: grid;
  grid-template-rows: 16.5rem 1fr;

  &__List {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4rem;
    margin-bottom: 0;

    li {
      list-style: none;

      a {
        border-bottom: none;
        color: $color-ternary;
        text-decoration: none;

        &:hover {
          color: $color-quinary;
        }
      }
    }
  }

  &__MegaMenu {
    background-color: $color-primary;
    display: flex;
    justify-content: space-around;
    transition: all 0.5s;
    margin-left: 4rem;

    &__on {
      padding: 0rem 0 3rem 0;
      color: rgba($color-white, 1);
      transform: translateY(0rem);
    }

    &__off {
      color: rgba($color-white, 0);
      transform: translateY(-5rem);
    }
  }
}
