@import "../../../../styles/abstracts/mixins";
@import "../../../../styles/abstracts/variables.scss";

.Nav {
  width: 100%;
  font-size: 1.92rem;
  display: grid;
  grid-template-rows: 16.5rem 1fr;

  @include respond(tab-port) {
    display: unset;
  }

  &__List {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4rem;
    margin-bottom: 0;

    @include respond(tab-port) {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 0;
    }

    li {
      list-style: none;

      @include respond(tab-port) {
        margin: 3rem 0 0 0;
      }

      a {
        border-bottom: none;
        color: $color-ternary;
        text-decoration: none;

        &:hover {
          color: $color-quinary;
        }
      }
    }
  }

  &__MegaMenu {
    li {
      list-style: none;
    }
    background-color: $color-primary;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    transition: all 0.5s;
    // margin-left: 4rem;

    @include respond(tab-port) {
      background-color: unset;
      flex-direction: column;
    }

    a {
      color: $color-ternary;

      &:hover {
        color: $color-quinary;
      }
    }

    &__on {
      padding: 0rem 0 2rem 0;
      color: rgba($color-white, 1);
      transform: translateY(0rem);

      @include respond(tab-port) {
        padding: 0;
      }
    }

    &__off {
      color: rgba($color-white, 0);
      transform: translateY(-5rem);
    }
  }
}

.DesktopOnly {
  display: block;
  @include respond(tab-port) {
    display: none;
  }
}

.MobileOnly {
  display: none;

  & > * {
    margin-left: 2rem;
  }
  @include respond(tab-port) {
    // margin-top: 1.5rem;
    display: block;
  }
}
