@import "../../../../styles/abstracts/variables.scss";

.Nav {
  width: 100%;
  font-size: 1.92rem;

  &__List {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4rem;
    margin-bottom: 0;

    li {
      list-style: none;

      a {
        border-bottom: none;
        color: $color-ternary;
        text-decoration: none;

        &:hover {
          color: $color-quinary;
        }
      }
    }
  }
}
