@import "../../../styles/abstracts/variables.scss";
@import "../../../styles/abstracts/mixins";

.ExtendedDayOption {
  font-size: $default-font-size;

  &__Top {
    display: flex;
    gap: 1rem;

    @include respond(tab-port) {
      flex-direction: column-reverse;
    }

    &__Overview {
      // background-color: orangered;
      line-height: 1.5;
    }

    &__Image {
      position: relative;
      flex: 0 1 35%;
      aspect-ratio: 1 / 1;
      border-radius: 7px;
      overflow: hidden;

      img {
        object-fit: cover;
      }
    }
  }

  &__Detail {
    // background-color: orangered;
    background-color: $color-ternary;
    // margin-bottom: 4rem;
  }
}
