@import "../../../styles/abstracts/variables.scss";

.Preschool {
  // background-color: orangered;

  &__Program {
    margin-bottom: 5rem;
    & > div:nth-child(2) {
      font-size: $default-font-size;
    }

    p {
      margin-bottom: 1rem;
    }
  }
}
