@import "../../../../styles/abstracts/mixins";
@import "../../../../styles/abstracts/variables.scss";

.Footer {
  position: relative;
  background-color: $color-secondary;
  font-size: $default-font-size;
  margin-top: auto;

  &__Container {
    display: flex;
    justify-content: space-around;
    gap: 1rem;

    @include respond(tab-port) {
      flex-direction: column;
      gap: 3rem;
    }

    &__FirstColumn {
      line-height: 1.5;

      &__Brand {
        // background-color: orangered;
        margin-bottom: 1rem;

        a {
          display: flex;
          gap: 1rem;
          line-height: 1.5;
          font-size: larger;
          border-bottom: none;
          align-items: center;

          & > *:nth-child(1) {
            flex: 0 0 25%;
            height: 10rem;
            position: relative;

            @include respond(tab-port) {
              flex: 0 0 10%;
              // flex-shrink: 1;
            }

            img {
              object-fit: contain;
              object-position: left;
            }
          }
        }
      }
    }

    & > :not(div:first-child) {
      a {
        color: $color-quaternary;
        border-bottom: 1px solid rgba($color-primary, 0);
        transition: border-bottom 0.2s;

        &:hover {
          border-bottom: 1px solid rgba($color-black, 1);
          color: $color-black;
        }
      }

      & > div:first-child {
        font-weight: 900;
        padding-bottom: 1rem;
        text-transform: uppercase;
      }

      & > :not(div:first-child) {
        margin: 1.5rem 0;
      }
    }
  }

  &__Copyright {
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 1px solid rgba($color-primary, 0.4);
    display: flex;
    justify-content: space-between;

    @include respond(tab-port) {
      flex-direction: column-reverse;
      gap: 2rem;
    }

    & > div:first-child {
      font-size: 1.5rem;
      color: rgba($color-quaternary, 0.7);
    }

    &__Social {
      height: 3rem;
      display: flex;
      gap: 0.9rem;

      a {
        text-decoration: none;
        border-bottom: 0;

        svg {
          height: 2.5rem;
          width: 2.5rem;
          fill: $color-quaternary;
          transition: all 0.2s;

          &:hover {
            fill: $color-black;
          }
        }
      }
    }
  }
}
