// COLORS
$color-primary: #2c854f;
$color-primary-light: #fbf0ec;

$color-secondary: #e89878;

$color-ternary: #634134;

$color-quaternary: #632c16;

$color-quinary: #b04e27;
$color-quinary-light: #e6774c;
$color-quinary-lighter: #f3a78a;

$color-grey-light-1: rgb(235, 235, 235);
$color-grey-dark: #383838;

$color-white: #eee;

$color-black: #111;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 120rem;
