// COLORS
$color-primary: #2c854f;
$color-primary-light: lighten($color-primary, 50);
$color-primary-lighter: lighten($color-primary, 80);
$color-primary-dark: darken($color-primary, 30);

$color-secondary: #abebc5;
$color-secondary-dark: darken($color-secondary, 7.5);
$color-secondary-darker: darken($color-secondary, 60);

$color-ternary: #deffeb;

$color-quaternary: #2b523b;
$color-quaternary-dark: darken($color-quaternary, 10);

$color-quinary: #abffcd;
$color-quinary-light: lighten(#abffcd, 13.5);
$color-quinary-lighter: lighten(#abffcd, 20);

$color-grey-light-1: rgb(235, 235, 235);
$color-grey-light: #cecece;
$color-grey: #747474;
$color-grey-dark: #383838;

$color-white: #eee;

$color-black: #111;

// FONT
$default-font-size: 1.8rem;

// GRID
$grid-width: 120rem;
