// COLORS
$color-primary: #2c854f;
$color-primary-light: lighten($color-primary, 80);

$color-secondary: #abebc5;

$color-ternary: #deffeb;

$color-quaternary: #2b523b;
$color-quaternary-dark: darken($color-quaternary, 10);

$color-quinary: #abffcd;

$color-grey-light-1: rgb(235, 235, 235);
$color-grey-dark: #383838;

$color-white: #eee;

$color-black: #111;

// FONT
$default-font-size: 1.8rem;

// GRID
$grid-width: 120rem;
