@import "../../../styles/abstracts/variables.scss";
@import "../../../styles/abstracts/mixins";

.ClassList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: $default-font-size;
  width: 100%;
  // margin-bottom: 5rem;

  // & > * {
  //   padding: 1.25rem 0;
  // }

  @include respond(tab-port) {
    display: flex;
    flex-direction: column;
  }

  &__Heading {
    font-weight: 900;
    border-bottom: solid $color-grey-light 1px;
    padding-bottom: 1.25rem;

    div:nth-child(4) {
      grid-column: 4 / 5;
    }
    div:nth-child(5) {
      grid-column: 5 / 6;
    }

    @include respond(tab-port) {
      display: none;
    }
  }

  &__Body {
    padding: 1.25rem 0;

    @include respond(tab-port) {
      padding: .5rem;
    }
  }

  &__Time {
    text-transform: lowercase;
  }

  &__DayOfWeek {
    grid-column-start: 1;
    font-weight: 900;

    @include respond(tab-port) {
      padding-top: 3rem;
    }
  }

  &__DesktopHide {
    display: none;
    @include respond(tab-port) {
      display: inline-block;
    }
  }
}
