@import "../../../../styles/abstracts/variables.scss";

.SideDrawer {
  background-color: $color-quaternary;
  position: fixed;
  right: 0;
  top: -0;
  height: 100%;
  width: 28rem;
  z-index: 150;
  color: $color-white;
  padding: 4rem;
  transition: transform 0.3s ease-out;

  &__open {
    transform: translateX(0);
  }

  &__closed {
    transform: translateX(100%);
  }
}
