@import "../styles/abstracts/variables.scss";

.Home {
  // & > div:first-child {
  //   height: 100vh;
  // }
  & > div:nth-child(2) {
    background-image: linear-gradient(
      to bottom right,
      $color-quaternary,
      $color-secondary-darker
    );
    color: $color-white;
  }
  & > div:nth-child(3) {
    background-color: $color-quinary-light;
  }
  & > div:nth-child(4) {
    background-image: linear-gradient(to bottom right, rgba($color-primary, .86), rgba($color-quaternary, .85)),
      url("https://res.cloudinary.com/dzekujbym/image/upload/w_2000/v1729134606/classroom_89e9465717.jpg?updated_at=2024-10-17T03:10:07.308Z");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    // background-color: $color-primary;
  }
  & > div:nth-child(5) {
    background-color: $color-ternary;
  }
  & > div:nth-child(7) {
    background-color: $color-primary;
    color: $color-ternary;
  }
}
