@import "../styles/abstracts/variables.scss";

.Home {
  section:nth-child(2) {
    background-image: linear-gradient(
      to bottom right,
      $color-quaternary,
      $color-secondary-darker
    );
    color: $color-white;
  }
  section:nth-child(3) {
    background-color: $color-quinary-light;
  }
  section:nth-child(4) {
    background-color: $color-primary;
  }
  section:nth-child(5) {
    background-color: $color-ternary;
  }
  section:nth-child(7) {
    background-color: $color-primary;
    color: $color-ternary;
  }
}
