@import "../../../styles/abstracts/variables.scss";
@import "../../../styles/abstracts/mixins.scss";

.Brandname {
  // font-size: 3.4rem;
  font-size: 4.25vmin;
  // font-size: 3.7vw;
  // font-size: 4.684rem;
  color: $color-white;
  padding-left: 1rem;
  // border-bottom: none;

  @include respond("tab-port") {
    font-size: 3.9rem;
  }

  @include respond("phone") {
    font-size: 2.8rem;
  }

  @include respond("big-desktop") {
    font-size: 4.684rem;
  }
}

.FromFooter {
  color: $color-quaternary;
  font-size: 4rem;

  @include respond("phone") {
    font-size: 2.5rem;
  }

  // @include respond("tab-port") {
  //   font-size: 2.5rem;
  // }
}
