@import "../../../styles/abstracts/mixins";
@import "../../../styles/abstracts/variables.scss";

.HeadingAboveColumns {
  padding: 0 2%;
  text-align: center;

  &__Columns {
    display: flex;
    gap: 3rem;
    text-align: left;

    @include respond(tab-port) {
      flex-direction: column;
    }

    & > * {
      flex: 1 1 0;
    }

    &__Column {
      // flex: 1 1 0;
      display: flex;
      flex-direction: column;
      // align-items: center;
      // background-color: rgba($color-quinary, 0.25);
      padding: 2rem;
      border-radius: 2rem;

      &__Image {
        width: 7rem;
        height: 7rem;
        position: relative;
        margin-bottom: 0.75rem;
      }

      &__Text {
        li {
          font-size: $default-font-size;
        }
      }
    }
  }
}
