@import "../../styles/abstracts/variables.scss";
@import "../../styles/abstracts/mixins";

.Events {
  // background-color: orangered;

  &__Group {
    &__Event {
      display: flex;
      gap: 2rem;

      @include respond(tab-port) {
        flex-direction: column-reverse;
        align-items: flex-start;
      }

      &__Date {
        flex: 0 1 20%;
        display: flex;
        gap: 1rem;
        justify-content: center;

        // padding: 0 2rem;
        // justify-content: space-between;
        // flex-direction: column;
        // align-items: center;

        @include respond(tab-port) {
          display: none;
        }

        & > * {
          // display: flex;
          // flex-direction: column;
          // align-items: center;
          // justify-content: center;
          display: grid;
          // grid-template-columns: repeat(3, 1fr);
          grid-template-rows: min-content 1fr;

          font-size: 4rem;
          font-weight: 300;
          color: $color-primary;

          & > * {
            &:first-child {
              grid-row: 1 / 2;
              font-size: 5.375rem;
              font-weight: 300;
              color: $color-primary;
            }

            &:nth-child(2) {
              grid-row: 2 / 3;
              font-size: $default-font-size;
              font-weight: 700;
              color: $color-black;
              text-align: center;
            }
          }
        }

        // &__Day {
        //   font-size: 5.375rem;
        //   font-weight: 300;
        //   color: $color-primary;
        // }

        // &__Month {
        //   font-size: $default-font-size;
        //   font-weight: 700;
        // }
      }

      &__Info {
        flex: 1 1 30%;
        // display: flex;

        &__Subhead {
          display: flex;
          gap: 4rem;
          color: $color-grey;
          padding-top: 0.7rem;
          margin-bottom: 2rem;

          & > * {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 1.7rem;
          }

          &__Time__MobileOnly {
            display: none;

            @include respond(tab-port) {
              display: inline;
            }
          }

          svg {
            height: 1.7rem;
            width: 1.7rem;
            fill: $color-grey;
          }
        }
      }

      &__Image {
        flex: 1 1 30%;
        position: relative;
        width: 100%;
        aspect-ratio: 16 / 9;

        img {
          object-fit: cover;
        }
      }
    }
  }
}
