@import "../../../styles/abstracts/mixins";

.ImageBesideText {
  display: flex;
  gap: 2rem;
  height: 40rem;
  margin: 10rem 0;

  @include respond(tab-port) {
    // gap: 0;
    margin: 5rem 0;
  }
  // align-items: end;

  @include respond(tab-port) {
    flex-direction: column;
    height: auto;
  }

  &__Image {
    flex: 0 0 40%;
    // background-color: orangered;
    padding: 3rem;

    & > * {
      height: 100%;
    }

    @include respond(tab-port) {
      flex: unset;
      height: 30rem;
    }

    &__Frame {
      position: relative;
      height: 100%;
      width: 100%;
      box-shadow: 0 0 15px black;
    }
  }

  &__Text {
    // padding-top: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-self: flex-start;
    // background-color: yellowgreen;
  }
}
