@import "../../styles/abstracts/variables.scss";

.Programs {
  // h2 {
  //   margin-bottom: 1rem;
  // }

  section:first-of-type {
    // background-color: orangered;
    padding-top: 0;



    h2 {
      display: none;
    }
  }

  
}
