@import "../abstracts/variables.scss";

.row {
  max-width: $grid-width;
  padding: 0 1%;
  margin: 0 auto;

  @include respond(tab-land) {
    padding: 0 3%;
  }
}

.u-padding-y-medium {
  margin: 8rem 0;
}

.u-padding-y-large {
  padding: 10rem 0;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
