@import "../../../styles/abstracts/variables.scss";

.Programs {
  h2 {
    text-align: center;
  }

  &__Group {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;

    &__Program {
      flex: 0 1 30%;
      // padding: 1rem;
      box-shadow: 0 0 10px $color-grey;
      background-color: $color-quinary-lighter;
      border-radius: 2px;
      overflow: hidden;

      &__Top {
        position: relative;

        &__Image {
          position: relative;
          height: auto;
          aspect-ratio: 16 / 8;

          & > * {
            object-fit: cover;
          }
        }

        &__Text {
          color: $color-quinary;
          position: absolute;
          right: 0.5rem;
          bottom: 0.5rem;
          font-size: xx-large;

          h5 {
            background-color: rgba($color-primary, 0.95);
            margin-bottom: 0;
            text-transform: uppercase;
            letter-spacing: -1px;
            padding: 0.4rem 0.7rem 0.7rem 0.4rem;
            text-align: right;
            line-height: 1;
          }
        }
      }

      &__Body {
        font-size: $default-font-size;
        text-align: center;

        p {
          padding: 2.5rem 3.5rem 0 3.5rem;
          font-weight: 200;
          text-align: left;
          line-height: 1.5;
          margin-bottom: 0;
        }

        ul {
          padding: 2.5rem 3.5rem;
          list-style: none;
          margin-left: 0;

          li {
            padding: 1rem;
            &:not(:last-child) {
              border-bottom: solid 1px $color-grey-light;
            }
          }
        }
      }
    }
  }
}
