@import "../../../styles/abstracts/mixins";

.Layout {
  position: relative;

  &__DesktopOnly {
    // background-color: orangered;
    width: 100%;
    display: flex;
    align-items: center;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__Main {
    position: absolute;
    top: 15vh;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
