@import "../../../styles/abstracts/mixins";
@import "../../../styles/abstracts/variables.scss";

.VideoBesideText {
  width: 100%;
  gap: 2rem;
  padding: 10rem 0;
  display: flex;
  align-items: center;
  // grid-template-columns: 50% 50%;

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__Video {
    // grid-column: 1/2;
    flex: 0 1 40%;
    width: 100%;
    position: relative;
    aspect-ratio: 16 / 9;

    width: 100%;
    video {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 12;
      height: 50%;
      width: 50%;
      fill: rgba($color-grey-dark, 0.75);
      transition: all 0.3s;
    }

    &:hover {
      svg {
        fill: rgba($color-black, .75);
      }
    }
  }

  &__Text {
    flex: 0 1 60%;
    // grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
