@import "../../../styles/abstracts/variables.scss";

.FAQs {
  // background-color: orangered;
  max-width: 70rem;
  margin: auto;

  &__Group {
    & > * {
      margin-bottom: 6rem;
    }
  }

  h4 {
    color: $color-primary;
    border-bottom: 1px solid $color-primary;
    text-decoration: none;
    transition: all 0.2s;
    width: fit-content;

    &:hover {
      color: $color-quaternary;
      border-bottom: 1px solid $color-quaternary;
    }
  }
}
