@import "../../../styles/abstracts/variables.scss";

.FAQs {
  // background-color: orangered;
  max-width: 70rem;
  margin: auto;

  &__Group {

    & > * {

      margin-bottom: 6rem;
    }
  }

  h4 {
    // text-decoration: underline;
    border-bottom: 2px $color-primary solid;
    width: fit-content;
  }
}
