@import "abstracts/mixins";
@import "abstracts/variables.scss";
@import "base/typography.scss";
@import "base/utilities";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* This defines what 1rem is */
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    // font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;
}

a {
  color: $color-primary;
  border-bottom: 1px solid $color-primary;
  text-decoration: none;
  transition:
    color 0.2s,
    border-color 0.2s; // Avoid 'all'

  // Only apply hover to devices that support it
  @media (hover: hover) {
    &:hover {
      color: $color-quaternary;
      border-bottom-color: $color-quaternary;
    }
  }

  // Ensure immediate feedback on mobile without "sticking"
  &:active {
    opacity: 0.7;
    transition: none;
  }
}

.row {
  max-width: $grid-width;
}

main {
  background-color: $color-primary-lighter;
}
